body {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    background-color: white;
    color: black;
}

header {
    margin-bottom: 20px;
}

h1 {
    letter-spacing: 2px;
    text-transform: uppercase;
}

h2 {
    color: #006EB6;
    letter-spacing: 1px;
}

main {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
}

footer img {
    width: 150px;
    margin-top: 20px;
}

/* Dark theme styles */
body.dark {
    background-color: #333;
    color: white;
}

body.dark h2 {
    color: #A3D5F7; /* A lighter blue for better contrast */
}
